<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Klevu_FrontendCategoryNavigation">
        <sequence>
            <module name="Klevu_Configuration"/>
            <module name="Klevu_Frontend"/>
            <module name="Klevu_Registry"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Config"/>
            <module name="Magento_Framework"/>
        </sequence>
    </module>
</config>
