<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Klevu\FrontendCategoryNavigation\Service\Provider\ThemeProviderInterface"
                type="Klevu\FrontendCategoryNavigation\Service\Provider\ThemeProvider"/>

    <preference for="Klevu\FrontendApi\Service\Provider\CategoryPathProviderInterface"
                type="Klevu\FrontendCategoryNavigation\Service\Provider\CategoryPathProvider"/>

    <preference for="Klevu\FrontendApi\ViewModel\Html\Head\CategoryPathInterface"
                type="Klevu\FrontendCategoryNavigation\ViewModel\Html\Head\CategoryPath"/>

    <virtualType name="Klevu\FrontendCategoryNavigation\ViewModel\Html\Head\JsIncludesCategory"
                 type="Klevu\Frontend\ViewModel\Html\Head\JsIncludes">
        <arguments>
            <argument name="jsIncludes" xsi:type="array">
                <item name="landing" xsi:type="array">
                    <item name="before" xsi:type="string">-</item>
                    <item name="provider"
                          xsi:type="object">Klevu\Frontend\Service\Provider\Urls\JsUrlProvider</item>
                    <item name="path" xsi:type="string"><![CDATA[theme/default/v2/catnav-theme.js]]></item>
                    <item name="is_enabled_conditions" xsi:type="array">
                        <item name="klevu_integrated"
                              xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
                        <item name="klevu_catnav_enabled"
                              xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Frontend\ViewModel\Html\Head\JsIncludesCore"
                 type="Klevu\Frontend\ViewModel\Html\Head\JsIncludes">
        <arguments>
            <argument name="jsIncludes" xsi:type="array">
                <item name="core" xsi:type="array">
                    <item name="is_enabled_conditions" xsi:type="array">
                        <item name="klevu_modules_enabled" xsi:type="array">
                            <item name="klevu_catnav_enabled"
                                  xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Frontend\Service\Provider\Layout\RelLinkProvider">
        <arguments>
            <argument name="links" xsi:type="array">
                <item name="preconnect_klevu_core" xsi:type="array">
                    <item name="is_enabled_conditions" xsi:type="array">
                        <item name="klevu_integrated"
                              xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
                        <item name="klevu_modules_enabled" xsi:type="array">
                            <item name="klevu_catnav_enabled"
                                  xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\Service\KlevuSettingsBuilder">
        <arguments>
            <argument name="klevuSettings" xsi:type="array">
                <item name="powerUp" xsi:type="array">
                    <item name="catnav"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\Provider\CatNavPowerUpProvider</item>
                </item>
            </argument>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\Html\Head\AddToCart">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Klevu\FrontendCategoryNavigation\ViewModel\Html\Head\CustomerGroupSuffix"
                 type="Klevu\Frontend\ViewModel\Html\Head\CustomerGroupSuffix">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_integrated"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsStoreIntegratedCondition</item>
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
                <item name="klevu_group_pricing_enabled"
                      xsi:type="object">Klevu\Frontend\Service\IsEnabledCondition\IsCustomerGroupPriceEnabledCondition</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\FrontendCategoryNavigation\Service\Provider\CategoryPathProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Frontend\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\CurrencyConversion">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\VisibilityFilter">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Frontend\ViewModel\CustomerGroupSuffix">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Klevu\FrontendCategoryNavigation\Service\Provider\CatNavPowerUpProvider"
                 type="Klevu\Frontend\Service\Provider\PowerUpProvider">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_catnav_enabled"
                          xsi:type="object">Klevu\FrontendCategoryNavigation\Service\IsEnabledCondition\IsCatNavEnabledCondition</item>
                </item>
            </argument>
            <argument name="delayPowerUpConditions" xsi:type="array">
                <item name="delay_power_up_any_condition" xsi:type="array">
                    <item name="is_group_pricing_enabled"
                          xsi:type="object">Klevu\Frontend\Service\DelayPowerUpCondition\IsCustomerGroupPricingEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
